/*navigation bar*/
@import url("new_share_navbar.css");

/**bottom navigation bar**/
@import url("share_bottom_navbar.css");

#about_title{
    weight:100%;
    height:400px;
    background-color: darkgrey;
    background-image: url("../image/banner_about.jpg");
    background-size: cover;
    background-position: center;
}

#about_title h1{
    padding-top: 15%;
    color:white;
    font-size:50px;
    text-align: center;
    font-family: "Varela Round";
}


#about_title article{
      text-align:center;
}
body {
  font-family: "Varela Round";
}