/**navigation bar**/
@import url("new_share_navbar.css");

/**bottom navigation bar**/
@import url("share_bottom_navbar.css");

body {
  font-family: "Varela Round";
}


/** Title**/
#signing_board_header{
    height: 300px;
    background-color: darkgrey;
    background-image: url("../image/signning page/main_supporter_us_bgimg_1.jpg");
    background-position: center;
    text-align:center;
    background-repeat: no-repeat;
    background-size: cover;

}
#signing_board_header article{
    font-size:70px;
    padding-top:4%;
    text-aligh:center;
}

#signing_board_header article h{
    color: white;
}


/**Notice**/
 #signing_board_notice h2{
     text-align:center;
     font-size:40px;
     color:orange;
 }

